
body{   
    margin-top: 44px; background-color: white; max-width: 100%;
}
html{
     background-color: white; max-width: 100%;
}
.black{height: 38px !important; width: 38px !important; background-color: transparent !important; border-radius: 100% !important; margin-top: 4px !important;  }
.img_caption{padding: 4px; border: 1px solid silver; color: white; border-radius: 4px;}
.img_class{width: auto; height: auto; max-width: 350px;  max-height: 200px; border-top-left-radius: 12px; border-top-right-radius: 12px;}
tr{	vertical-align: bottom;}
.user_details{padding: 6px; background-color: transparent; border-left: 1px solid #e5e3e2; border-right: 1px solid #e5e3e2;}
.grid_pix{padding-bottom: 100%; vertical-align: bottom; } 
.contact_header{ text-align: center; margin-top: 20px; font-size: 1.2em; font-weight: bold; color: black; background-color: white; padding: 5px;}
.chat{font-size: 12px;  padding-left: 65px; color: #a9a7a6; white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis; }
.live_chat_msg{white-space: nowrap; width: 200px; overflow: hidden; text-overflow: ellipsis;}
.contact_list{	padding: 5px; border-top: 1px solid white;}
.no_convo{	background-color: silver; padding: 10px; border-radius: 10px; color: white;}
.photos{background-color: white; padding:10px; border-left: 1px solid grey; border-right: 1px solid grey; color:black;}
.photoshop{	padding: 2%; margin:2%;}
.status{padding-left: 2%; color:red;}
.row{width: 100%; background-color: transparent;}  
.my_panel{	margin-top: 44px; background-color: white;/*#d1d0ce;*/ }
.userdetails > img{	background-color: white; border-radius: 100%; max-height: 44px; max-width: 44px; position: absolute; left: 2px; margin-bottom: 5px;} 
.userdetails  {	margin-left: 5%; background-color: transparent; border-top-left-radius: 25em; border-bottom-left-radius: 25em; margin-right: 1%; max-width: 44px; max-height: 44px;} 
.user_name{	font-size: 120%; max-height: 44px; padding: left; padding-left: 1%; margin-left: 1% color: darkgrey;}
p{color: white;}
.mainPanel{	background-color:#25383c; margin-bottom: 1%; padding: 0px;} 
a{	color: white;}
.search_image{width: 30px; max-height: 30px; border-radius: 100%; }
.display{	color: black; background-color: silver; padding:4px;}
.lists{	z-index: 1;	position: fixed ;left: 0px; border-top: 1px solid white; width: 100%; background-color: #25383c; color: white; height: 29px; padding-top: 6px; }
.searcher{margin-top: 2%; border:solid; border-width: 1px; border-color: silver; border-radius: 5px;}
.searche{	position: absolute; margin-left: 44px; margin-right: 46px; width: auto; padding-left: 6px; max-width: 350px; min-width: 180px; margin-top: 5px; max-height: 44px; border: 1px solid silver; border-radius: 20px;}	 
.close{	color: white;}
.btnz{	padding-top: 6px; padding-bottom: 6px;	background-color: transparent; color: white; padding-right: 2%; height: 30px; font-size: 1em;}
.navb{	background-color: #25383c !important; width: 100%;}
.post_area{	background-color: *#E6E6FA; margin-top: 2px; padding :0px;}
.post_box{background-color: #fcfcf9; display: inline-flex; align-items: flex-end; max-height: 80px; justify-content: left; overflow: auto;
	margin-bottom: 5px; border: 1px solid #e6e6e6;   padding: 2px; border-radius: 8px; width: 100%;}
.fixed_left{max-width: 350px; padding:8px 2px 10px 8px; margin-top: 10px;}
.right_top_story{position: relative; max-width: 300px; padding:10px; border-radius: 10px; 
	border:1px solid #A9A9A9; margin:5px; background-color: #DCDCDC;}
.navbar-fixed-top{width: 100%; height: 7%; min-height: 50px;	max-height: 80px; background-color: #25383c;}
.logoImage{	position: absolute; right: 8px; min-height: 35px; max-width: 35px;}
.image1{	border-radius: 100%;} 
.share_text_field{	background-color: white; padding: 8px; border-radius: 6px;}
.modal-share{background-color: white;}
.btn_share{
	background-color: transparent; border: 3px solid grey; color: grey; margin-bottom: 10px; 
	padding-right: 15px; padding-left: 15px; padding-top: 5px; padding-bottom: 5px; border-radius: 10px; font-weight: bold;
}
.btn_share:hover{
	background-color: #919191; color: white; font-weight: bold;
}
.txt_share{
	border: 1px solid silver; padding: 3px; padding: 5px; border-radius: 10px;
    background-color: white; color: black; max-width: 200px; margin-bottom: -10px;
}
.post_image{
	background-color: black; width: 100%; max-width: 500px; max-height: 500px; height: 100%;  align-content: center; object-fit: cover;   
}
.post_menu{
	position: absolute; left: 10px; z-index: 1;
}
.vidp{
	background-color: black; width: 100%; max-width: 500px; margin: 3px; max-height: 300px; align-content: center;
}
.like_section > button{margin: 1px; padding: 1px;}
.bbc_55{min-height: 20px; padding-top: 6px; padding-right: 10px; padding-bottom: 6px; padding-left: 10px; border-radius: 12px; height: auto; margin-bottom: 4px; max-width: 220px;}
.x_9mv{background-color: #086A87;color: white; } .x_9nv{color: black; background-color: silver;}
 
@media only screen and (min-width: 1600px) {
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 33%; margin-right:  33%;}
	.post_image{
	background-color: black; width: 100%; max-width: 500px;  max-height: 500px; height: 100%;  align-content: center; object-fit: contain;   
}
}
@media only screen and (max-width: 1400px) {
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 30%; margin-right:  30%;}
}
@media only screen and (max-width: 1200px) {
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 26%; margin-right:  26%;}
}
@media only screen and (max-width: 1000px) {
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 23%; margin-right:  23%;}
}
@media only screen and (max-width: 800px) {
	.user_details{padding: 0px;}
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 18%; margin-right:  18%;}
}
@media only screen and (max-width: 700px) {
	.user_details{padding: 0px;}
	.post_image{
		background-color: black; width: 100%; max-width: 500px;   max-height: 320px; height: 100%;  align-content: center; object-fit: cover;   
	}
	.btn_share{margin-top: 20px;}
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 15%; margin-right:  15%;}
}
@media only screen and (max-width: 600px) {
	.btn_upload{display: none;}
	.post_image{
		background-color: black; width: 100%; max-width: 500px;   max-height: 300px; height: 100%;  align-content: center; object-fit: cover;   
	}
	.btn_share{margin-top: 20px;}
	.user_details{padding: 0px;}
	.live_chat_msg{white-space: nowrap; width: 360px; overflow: hidden; text-overflow: ellipsis;}
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 0%; margin-right:  0%;}
}
@media only screen and (max-width: 550px) {
	.post_image{
		background-color: black; width: 100%; max-width: 400px;   max-height: 270px; height: 100%;  align-content: center; object-fit: cover;   
	}
	.btn_share{margin-top: 20px;}
	.user_details{padding: 0px;}
	.my__panel{	margin-top: 44px; background-color: transparent;  margin-left: 0%; margin-right:  0%;}
}
@media only screen and (max-width: 400px) {
	.post_image{
		background-color: black; width: 100%; max-width: 400px;   max-height: 260px; height: 100%;  align-content: center; object-fit: cover;   
	}
	.user_details{padding: 0px;}
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 0%; margin-right:  0%;}
}	.btn_share{margin-top: 20px;}
@media only screen and (max-width: 300px) {
	.user_details{padding: 0px;}
		.post_image{
		background-color: black; width: 100%; max-width: 400px;   max-height: 250px ; height: 100%;  align-content: center; object-fit: cover;   
	}
	.btn_share{margin-top: 20px;}
	.user_details{padding: 0px;}
	.my__panel{	margin-top: 44px; background-color: transparent; margin-left: 0%; margin-right:  0%;}
}